body {
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
  font-family: "Open Sans", sans-serif;
}

.calculator-title {
  text-align: center;
}

.calculator-container {
  margin: 0 auto;
  width: fit-content;
  height: auto;
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #fff;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
  font-style: italic;
}

td {
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

select,
input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  text-align: right;
}

.dimensionality {
  margin-left: 5px;
}

tr {
  border: 1px solid black;
}

.dimensionality {
  font-style: normal;
  text-align: left !important;
  font-size: small;
}

.optional_row {
  display: show;
}

.center-text {
  text-align: center;
}

/* centers the button */
.button {
  display: inline-block;
  position: fixed;
  left: 44%;
  overflow: hidden;
  margin: 0 20px;
  padding: 15px 30px;
  font-size: 1.2rem;
  margin-top: 25px;
  color: #fff;
  background-color: #0077cc;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.button:hover:before {
  width: 200%;
  height: 200%;
}

.button:active {
  transform: scale(0.9);
}

.button:active:before {
  width: 150%;
  height: 150%;
}
